main {
    background-color: whitesmoke;
}

button {
    background-color: red;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: blue;
}

.adbox {
    border: 1px solid black;
    background-color: white;
    margin: 1%;
    padding: 1%;
    width: 10%;
    height: auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.column {
    
}

.asidelink {
    display: block;
    margin: 2%;
    text-align: left;
}